<form class="lorebound-settings">
  <section class="form-body">
    <div class="form-group">
      <label>{{localize "LOREBOUND.Settings.ClientSecret"}}</label>
      <input type="password" name="config.clientSecret" value="{{config.clientSecret}}" autocomplete="off" />
    </div>
     <div class="form-group">
      <label>{{localize "LOREBOUND.Settings.WorldId"}}</label>
      <input type="text" name="config.worldId" value="{{config.worldId}}" autocomplete="off" />
    </div>
     <div class="form-group">
      <label>{{localize "LOREBOUND.Settings.AllowedJournals"}}</label>
      <input type="text" name="config.allowedJournals" value="{{config.allowedJournals}}" autocomplete="off" />
    </div>
    <div class="form-group">
      <label>{{localize "LOREBOUND.Settings.RedirectUrl"}}</label>
      <input type="url" name="config.redirectUrl" value="{{config.redirectUrl}}" readonly />
      <p class="notes">Use this redirect URL when configuring the OAuth client.</p>
    </div>
    <div class="form-group status">
      <i class="{{status.icon}}"></i>
      <span>{{status.label}}</span>
    </div>
  </section>
  <footer class="form-footer">
    <button type="submit" class="save">{{localize "LOREBOUND.Settings.Save"}}</button>
    <button type="button" data-action="login" class="login">{{localize "LOREBOUND.Settings.Login"}}</button>
    <button type="button" data-action="logout" class="logout">{{localize "LOREBOUND.Settings.Logout"}}</button>
  </footer>
</form>
